// Colors
$primary-color: #a2b9bc;
$secondary-color: #b2ad7f;
$background-color-primary: #151b23;
$background-color-secondry: #0d1117;
$text-color: #c9d1d9;

$ternary-color: #5C8D7B;
$quaternary-color: #E35933;
// Font
$font-family: 'Arial', sans-serif;
$base-font-size: 16px;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;